@using System.Globalization
@using System.Threading
@using MvcApplication1
@using MvcApplication1.DynamicFiles

@{
	// check if the bootstrap theme is changed
	var themeName = Request.Form["themename"];
	if (!string.IsNullOrEmpty(themeName))
	{
		DynamicFileVirtualPathProvider.CurrentThemeName = themeName;
	}

	// set EnableOptimizations value only on form post
	var useBundling = Request.Form.GetValues("usebundling");
	if (useBundling != null)
	{
		BundleTable.EnableOptimizations = useBundling.First() != "false";
	}

	// check if the culture is changed
	var culture = Request.Form["culture"];
	if (!string.IsNullOrEmpty(culture))
	{
		Thread.CurrentThread.CurrentCulture = DynamicFileVirtualPathProvider.CurrentCulture = CultureInfo.GetCultureInfo(culture);
	}
}

<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentCulture.Name">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render(BundleConfig.BOOTSTRAP_STYLES_PATH)
</head>
<body>
	<form method="POST" id="settings-form">
		<label for="themename">Theme</label> @Html.DropDownList("themename", Html.GetBootstrapThemeItems())
		<label for="culture">Culture</label> @Html.DropDownList("culture", Html.GetCultureItems())
		<label for="usebundling">Enable Bundling and Minification @Html.CheckBox("usebundling", BundleTable.EnableOptimizations)</label>
	</form>

	@RenderBody()
	
	<input type="text" name="date" id="date" />

	@Scripts.Render(
		BundleConfig.JQUERY_PATH,
		BundleConfig.JQUERY_GLOBALIZE_PATH,
		BundleConfig.BOOTSTRAP_SCRIPTS_PATH)
	
	<script>
		$(function () {
			$('#date').datepicker({ language: "@Thread.CurrentThread.CurrentCulture.Name" });

			var form = $('#settings-form');
			form.on('change', 'input,select', function() {form.submit();});
		});
	</script>

	@RenderSection("scripts", required: false)
</body>

</html>
